

*
      margin: 0
      padding: 0
header
      width: 100%
      height: 99px
      background-color: #403C3B
      display: flex
      align-items: center
      justify-content: space-around
.input
      width: 555px
      height: 52px
      left: 268px
      top: 23px
      background: #504B4A
      border-radius: 10px
      display: flex
      align-items: center
      justify-content: space-between
      .input
            a
                  margin-left: 16px
.search
      border: none
      background: none
      outline: none
      ::placeholder
            color: #CFCFCF
